@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.personalizado {
	cursor: url( "../images/cursorrr.png"), auto;  
}
.legro {
	color: #000000;
}
.negro {
	background-color: #000000;
}

.white {
	color: #FFFFFF;
}
.red {
	color: #FF0004;
}
li a:hover {
	color: #FF0004;
}
.fonred{ 
    background-color: #FF0004;
}
.img-1 {
	background-image: url( "../images/prueba.png");
	
}
.img-2 {
	background-image: url(  "../images/inicio.gif");
	
}
.navbar {
	font-family: "New Rocker", system-ui;
}
.text-center{
	font-family: "New Rocker", system-ui;
}
.card-text{
	    font-family: "Open Sans", sans-serif;
}
.display-4{
	font-family: "New Rocker", system-ui;
}
.jumbotron2 {
  position: relative;
  height: 100vh; /* Hace que el jumbotron ocupe toda la altura de la ventana */
}

.jumbotron2 img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 30px; /* Desplaza la imagen 30px a la derecha */
  width: auto;
}

.jumbotron2 div {
  margin-left: 55%; /* Ajusta la posición del contenido para evitar superposición con la imagen */
  position: relative;
  z-index: 1;
}

.irregular-btn {
  font-size: 1.5rem; 
  background-color: #000; 
  color: #fff; 
  padding: 15px 30px; 
  position: relative;
  border: none; 
  z-index: 1;
  cursor: pointer;
  outline: none; 
  overflow: hidden;
  clip-path: polygon(10% 0%, 90% 0%, 100% 40%, 80% 100%, 20% 100%, 0% 40%); 
  transition: background-color 0.3s, transform 0.3s;
}

.irregular-btn:hover {
  background-color: #444;
  transform: scale(1.1); 
}

.irregular-btn::before {
  content: "💀"; 
  font-size: 2rem; 
  position: absolute;
  top: -10px; 
  right: -10px; 
  opacity: 0.1; 
}
.leterpay{ 
    font-family: "IBM Plex Mono", monospace;
}
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  color: #ff5722; /* Cambia el color al pasar el ratón, si lo deseas */
}
.img-size {
  width: 40px;
  height: 40px;
}

.letre{ 
font-family: "UnifrakturCook", cursive;
}